.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--x4);
  box-shadow: 0 0 10px 1px var(--secondary-color-text);
  gap: var(--x2);
  max-width: 500px;
  padding: var(--x4);
}